/* Шапка сайта */

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
   background-color: #152B3C;
   }

.header-wrap {
    display: flex;
    align-items:center;
}

.main-logo {
  // font-size: 42px;
  // padding-left: 81;
  margin-right: auto;
  }

.phone {
  margin-left: 81px;
  // margin-left: auto;
  // font-size: 28px;
}

.main-logo,
.phone {
    color: #FBF2DA;
    // text-decoration: none;
  }
