/* Промо */

.promo-info{
  position: relative;
  display: flex;
  /* width: 1440;
  height:650px ; */
  object-fit: cover;
}


.promo-link {

bottom: 323px;
font-weight: normal;
font-size: 32px;
line-height: 44px;
text-align: center;
}

.promo-visual-title {
  font-weight: 300;
font-size: 116px;
line-height: 136px;
text-align: center;
}