/* Промо */

.promo-info{
  position: relative;
  display: flex;
  /* width: 1440;
  height:650px ; */
  object-fit: cover;
}


.promo-link {

position: static;
left: 0%;
right: 0%;
top: 60.71%;
bottom: 0%;
}
