/* Общие стили */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h2 {

    font-size: 58px;
    line-height: 68px;
}
    .container {
      width: 1440px;
      margin: 0 auto;
  }

//   img {
//     display: block;
//     width: 100%;
// }
